version: "3.8"

services:

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: NicolasSeivane
      POSTGRES_PASSWORD: Metlife2025
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: mydatabase
      DB_USER: NicolasSeivane
      DB_PASS: Metlife2025
    volumes:
      - .:/app

volumes:
  postgres_data:
